.App {
  text-align: left;
  font-family: Kollektif;
  color: #003262;
}

@font-face {
  font-family: Kollektif;
  src: url("./font/Kollektif.ttf");
}

.property-name {
  font-size: 30px;
}

.property-text {
  font-size: 25px;
}

.listing-property {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
}

.icon {
  width: 80px;
  height: 80px;
  max-width: 80px; min-width: 80px;
}